---
layout: archive
permalink: /Forensic/
title: "Forensic Corner"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

{% include base_path %}
{% assign sorted_forensic = site.forensic | sort: "date" | reverse %}
{% capture written_date %}'None'{% endcapture %}
{% for post in sorted_forensic %}
  {% capture post_date %}{{ post.date | date: "%Y-%m" }}{% endcapture %}
  {% if post_date != written_date %}
    <h2 id="{{ post_date | slugify }}" class="archive__subtitle">{{ post.date | date: "%B %Y" }}</h2>
    {% capture written_date %}{{ post_date }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}

